---
interface Props {
  name: string;
}
const { name } = Astro.props;
---

<div
  class="flex flex-col my-8 bg-[#121212] relative min-w-[20rem] z-0"
  onclick="handleDayClick(this)"
>
  <div>
    <h2 id="day-title" class="text-4xl my-4 mb-10 text-white font-semibold">
      {name}
    </h2>
  </div>

  <div class="flex flex-col h-fit w-fit box-border relative pl-6">
    <!-- This creates the white line -->
    <div
      class="absolute top-0 w-0.5 h-full bg-white transform -translate-x-1/2"
    >
    </div>

    <slot>
      <p class="text-white translate-x-4 p-4">
        Here you should put Event components
      </p>
    </slot>
  </div>
</div>
